@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.snow {
  background: radial-gradient(white 1px, transparent 1px);
  background-size: 3px 3px;
  opacity: 0.25;
  animation: snowfall 20s linear infinite;
  filter: blur(1px);
}

@keyframes snowfall {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 1000px;
  }
}
